/* Logo */
a.logo img {
  width: 100px;
  height: auto;
  margin-left: 0;
}

a.logo {
  padding-left: 0;
  margin-left: 0;
}

/* Navbar background */
.bg-blue {
  background-color: #577399; /* fondo navbar */
}

/* Botón personalizado */
.btn-custom {
  background-color: transparent;
  color: #FFFCFF; /* texto claro */
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid transparent;
}

/* Hover con contraste */
.btn-custom:hover {
  background-color: #D8B4E2; /* lila claro */

}

/* Para anular Bootstrap */
a.btn-custom.nav-link:hover {
  background-color: #ffffff !important;
  color: #495867 !important;
  border-color: #495867 !important;
}


