{% extends 'base.html' %} 

{% block title %}Vuelos{% endblock %}

{% block content %}
<html>
<head>
    <title>Lista de Vuelos</title>
</head>
<body>
    <h1>Vuelos</h1>
    {% if request.user.is_staff %}
        <a class="btn" style="background-color: #577399; color: white; border: none;" href="{% url 'flight_administration' %}">Administrar Vuelos</a>
    {% endif %}
    <ul>
        {% for flight in flights %}
        <li>
            Origen: {{ flight.origin }}<br>
            Destino: {{ flight.destination }}<br>
            Salida: {{ flight.departure_date }}<br>
            Llegada: {{ flight.arrival_date }}<br>
            Duración: {{ flight.duration }}<br>
            Precio: {{ flight.base_price }}<br>
            Estado: {{ flight.status }}<br>
            Avion: {{flight.plane.model}}
        </li>
        {% empty %}
            <li>No hay vuelos.</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}
